@model DTOs.CustomerDto

    <form method="get"
          asp-page="./Statement"
          target="_blank"
          class="form-inline">
        <input type="number" name="customerId" value="@Model.Id" hidden />

        <input type="text"
               class="form-control daterange mb-2 mr-2"
               value="@Clock.Today.LocalDate() - @Clock.Now.LocalDate()" />

        <input type="text"
               name="fromDate"
               id="from-text"
               value="@Clock.Today.LocalDate()"
               required hidden />

        <input type="text"
               name="toDate"
               value="@Clock.Now.LocalDate()"
               id="to-text"
               required hidden />

        <button type="submit"
                class="btn btn-outline-primary mb-2">
            Go
        </button>
    </form>
