@model DTOs.SupplierDto

<table class="table table-sm table-hover table-borderless">
    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.CompanyName)
            </th>
            <td class="text-right">
                @Html.DisplayFor(model => Model.CompanyName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Phone)
            </th>
            <td class="text-right">
                @Html.DisplayFor(model => Model.Phone)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Address)
            </th>
            <td class="text-right">
                @Html.DisplayFor(model => Model.Address)
            </td>
        </tr>
    </tbody>
</table>

