@using DTOs
@model PurchaseDto
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-6 mb-0">
        <table class="table table-sm table-hover">
            <tr>
                <th>
                    Purchase#
                </th>

                <td class="text-right">
                    <a asp-page="../Purchases/Details"
                       asp-route-id="@Model.Id"
                       target="_blank">
                        @Html.DisplayFor(model => model.Id) - @Model.PurchaseDate.LocalDate()
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    Vouchar#
                </th>

                <td class="text-right">
                    <a asp-page="../Vouchars/Details"
                       asp-route-id="@Model.VoucharId"
                       target="_blank">
                        @Html.DisplayFor(model => model.VoucharId)
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    Supplier
                </th>

                <td class="text-right">
                    <a asp-page="../Suppliers/Details"
                       asp-route-id="@Model.SupplierId"
                       target="_blank">
                        <input type="number"
                               value="@Html.ValueFor(model => model.SupplierId)"
                               id="SupplierId"
                               class="form-control"
                               hidden
                               disabled />
                        @Html.DisplayFor(model => model.SupplierId) - @Html.DisplayFor(model => model.Supplier.FullName)
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    Phone
                </th>

                <td class="text-right">
                    @Html.DisplayFor(model => model.Supplier.Phone)
                </td>
            </tr>
            <tr>
                <th>
                    Current Due
                </th>

                <td class="text-right">
                    @Html.DisplayFor(model => model.Supplier.Payable)
                    <input id="current-due"
                           type="number"
                           value="@Html.ValueFor(model => model.Supplier.Payable)"
                           hidden
                           disabled />
                </td>
            </tr>
            <tr>
                <th>
                    Total
                </th>

                <td class="text-right">@Html.DisplayFor(model => model.PaymentTotal)</td>
            </tr>
            <tr>
                <th>
                    Paid
                </th>

                <td class="text-right">
                    @Html.DisplayFor(model => model.PaymentPaid)
                </td>
            </tr>
            <tr>
                <th>
                    Purchase Due
                </th>

                <td class="text-right">
                    @Html.DisplayFor(model => model.PaymentDue)
                </td>
            </tr>
        </table>
    </div>

    <div class="col-lg-6">
        <table class="table table-sm table-borderless table-hover mb-0">
            <thead>
                <tr>
                    <th>
                        <h5>Cart</h5>
                    </th>
                </tr>
                <tr class="table-secondary">
                    <th>
                        Name
                    </th>

                    <th>
                        Unit Price
                    </th>

                    <th class="text-right">
                        Quantity
                    </th>

                    <th class="text-right">
                        Net Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Cart)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => p.Name)
                        </td>

                        <td>
                            @p.UnitPurchasePrice.ToCurrency()
                        </td>

                        <td class="text-right">
                            @Html.DisplayFor(model => p.Quantity)
                        </td>

                        <td class="text-right">
                            @p.NetPurchasePrice.ToCurrency()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>