@model DTOs.RefundDto

@{
    var removeApi = Url.Action(
        "Remove",
        "Refunds",
        new { id = Model.Id });
    var removalReturnUrl = Url.Page("./Index");
}

<div class="card info-card mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <strong data-toggle="tooltip"
                        title="Refund ID">
                    Refund# @Model.Id
                </strong>
            </div>
            <div class="col-sm-6 text-left text-sm-right">
                <span class="text-muted"
                      data-toggle="tooltip"
                      title="Refund Date">
                    @Model.Metadata.CreationTime.LocalDate()
                </span>

                @if (Model.IsRemoved)
                {
                    <span class="badge badge-danger">
                        Removed
                    </span>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <span data-toggle="tooltip"
                      title="Sale ID">
                    Sale# @Model.SaleId
                </span>
            </div>
        </div>
    </div>
</div>

<div class="accordion"
     id="accordionExample">
    <div class="card info-card">
        <div class="card-header"
             id="headingOne">
            <div class="row">
                <h2 class="mb-0 col-sm-6">
                    <button class="btn btn-link"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        <span data-toggle="tooltip"
                              title="Customer Information">
                            <i class="fa fa-plus"></i>
                            @Model.Customer.FullName
                        </span>
                    </button>
                </h2>
                <div class="col-sm-6 text-sm-right">
                    <a class="btn btn-link pl-2 pl-sm-0 pr-0"
                       asp-area="People"
                       asp-page="/Customers/Details"
                       asp-route-id="@Model.CustomerId"
                       data-toggle="tooltip"
                       title="View Customer Profile">
                        <i class="fas fa-address-card"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="collapseOne"
             class="collapse"
             aria-labelledby="headingOne"
             data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-sm table-hover mb-0">
                    <tbody>
                        <tr>
                            <th>Company</th>
                            <td class="text-right">@Html.DisplayFor(model => model.Customer.CompanyName)</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td class="text-right">@Html.DisplayFor(model => model.Customer.Address)</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td class="text-right">@Html.DisplayFor(model => model.Customer.Phone)</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td class="text-right">@Html.DisplayFor(model => model.Customer.Email)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card info-card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo">
                    <i class="fa fa-plus"></i>
                    Payment Information
                </button>
            </h2>
        </div>
        <div id="collapseTwo"
             class="collapse show"
             aria-labelledby="headingTwo"
             data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-sm table-borderless table-hover">
                    <tbody>
                        <tr>
                            <td>Cash Back</td>
                            <td class="text-right">@Html.DisplayFor(model => model.CashBack)</td>
                        </tr>
                        <tr>
                            <td>Debt Rollback</td>
                            <td class="text-right">@Html.DisplayFor(model => model.DebtRollback)</td>
                        </tr>
                        @{ var recordClass = ""; }
                        @if (Model.Customer.Debt > 0)
                        {
                            recordClass = "warning";
                        }
                        <tr class="table-@recordClass">

                            <td>Current Due</td>
                            <td class="text-right">@Html.DisplayFor(model => model.Customer.Debt)</td>
                        </tr>

                </table>
            </div>
        </div>
    </div>

    <div class="card info-card">
        <div class="card-header"
             id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree">
                    <i class="fa fa-plus"></i>
                    Cart
                </button>
            </h2>
        </div>
        <div id="collapseThree"
             class="collapse show"
             aria-labelledby="headingThree"
             data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-sm table-hover table-responsive-sm mb-0">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th class="text-right">
                                Quantity
                            </th>
                            <th class="text-right">
                                Unit Price
                            </th>
                            <th class="text-right">
                                Net Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cart)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Name)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(model => item.Quantity)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(model => item.UnitPurchasePrice)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(model => item.NetPurchasePrice)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card info-card mt-1">
    <div class="card-body">
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <table class="table table-sm table-borderless table-hover">
                <tr>
                    <th>
                        Description
                    </th>
                    <td>
                        @Model.Description
                    </td>
                </tr>
            </table>
        }
        <div class="row">
            <div class="col-sm-8">
                <a asp-area="Incoming"
                   asp-page="/Sales/Details"
                   asp-route-id="@Model.SaleId"
                   class="card-link btn btn-outline-success">
                    Sale
                </a>
                @if (!Model.IsRemoved)
                {
                    <a href="#"
                       class="card-link btn btn-danger js-remove-item"
                       data-href="@removeApi"
                       data-returnUrl="@removalReturnUrl">
                        Remove
                    </a>
                }
            </div>
            <div class="col-sm-4 mt-2 mt-sm-0 text-sm-right">
                <a asp-area="Incoming"
                   asp-page="/Sales/Index"
                   class="card-link btn btn-primary">
                    Back to List
                </a>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <partial name="_UpdateSummary" for="Metadata" />
    </div>
</div>