@model DTOs.SalaryIssueDto

@{
    var removeApi = Url.Action(
        "Remove", 
        "SalaryIssues", 
        new {id = Model.Id}
    );

    var removeReturnUrl = Url.Page("./Index");
}

<div class="card info-card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8">
                Salary-Issue# @Model.Id
            </div>
            <div class="col-sm-4 text-sm-right">
                @if (Model.IsRemoved)
                {
                    <span class="badge badge-danger">
                        Removed
                    </span>
                }
            </div>
        </div>

    </div>
    <div class="card-body">
        <a class="h3 card-title"
           asp-area="People"
           asp-page="/Employees/Details"
           asp-route-id="@Model.EmployeeId">
            @Model.EmployeeFullName
        </a>
        <table class="table table-sm table-hover mt-4">
            <tr>
                <th>Balance Before</th>
                <td class="text-right">
                    @Html.DisplayFor(model => model.BalanceBefore)
                </td>
            </tr>
            <tr>
                <th>
                    Amount
                </th>
                <td class="text-right">
                    @Html.DisplayFor(model => model.Amount)
                </td>
            </tr>
            <tr>
            <tr>
                <th>
                    Balance After
                </th>
                <td class="text-right">
                    @Html.DisplayFor(model => model.BalanceAfter)
                </td>
            </tr>
            <tr>
                <th>
                    Description
                </th>
                <td class="text-right text-wrap">
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
        </table>

        <hr />
        <div class="row">
            <div class="col-sm-6">
                @if (!Model.IsRemoved)
                {
                    <a href="#"
                       class="card-link text-white btn btn-link btn-danger js-remove-item"
                       data-href="@removeApi"
                       data-returnUrl="@removeReturnUrl">
                        Remove
                    </a>
                }
            </div>
            <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                <a asp-page="./Index"
                   class="card-link btn btn-primary">
                    Back to List
                </a>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <partial name="_UpdateSummary" for="Metadata" />
    </div>
</div>