@using DTOs
@model IEnumerable<ProductDto>

<table class="table table-sm table-hover table-striped pt-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th class="text-right">Stock</th>
            <th class="text-right">Purchase Price</th>
            <th class="text-right">Total Cost</th>
            @*<th class="text-right">Marginal Price</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => p.Id)</td>
                <td>@Html.DisplayFor(modelItem => p.Name)</td>
                <td>@(p.InventoryStockStatus.ToString().ToFriendlyCase())</td>
                <td class="text-right">@Html.DisplayFor(modelItem => p.InventoryTotalStock)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => p.PricePurchase)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => p.TotalPurchaseCost)</td>
                <td class="text-right">@*@Html.DisplayFor(modelItem => p.PriceMargin)*@</td>
            </tr>
        }
    </tbody>
</table>