@page
@model IndexModel

@{
    ViewData["Title"] = "Cash";
}

<div class="row">
    <partial name="_BalanceCard" for="@Model" />
    <div class="col-md-12 card mb-1">
        <div class="card-body">
            <form method="get"
                  class="form-inline">
                <input type="text"
                       class="form-control daterange mb-2" 
                       value="@Clock.Today.LocalDate() - @Clock.Today.LocalDate()"/>

                <input asp-for="FromText"
                       type="text"
                       name="fromText"
                       id="from-text"
                       value="@Clock.Today.LocalDate()"
                       required hidden />

                <input asp-for="ToText"
                       type="text"
                       name="toText"
                       value="@Clock.Now.LocalDate()"
                       id="to-text"
                       required hidden />

                <button type="submit"
                        class="btn btn-outline-primary mb-2 ml-0 ml-sm-2">
                    Go
                </button>
            </form>
            
            
            <div class="card-title mt-3 bg-dark text-white pt-4 pb-2 pr-2 pl-2 mb-0">
                <div class="row">
                    <div class="col-md-6 h5">
                        From : @Model.FromDate.ToString("dd MMM yyyy")
                    </div>
                    <div class="col-md-6 text-md-right h5">
                        To : @Model.ToDate.ToString("dd MMM yyyy")
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <partial name="_DepositsTable"
                             for="Deposits" />
                </div>
                <div class="col-md-6">
                    <partial name="_WithdrawalsTable"
                             for="Withdrawals" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#from-text").val(@Model.FromText);
            $("#to-text").val(@Model.ToText);
        });
    </script>
}