@using Khata.ViewModels
@model PurchaseViewModel


@{
    var sym = System.Globalization.CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol;
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div>
    @*Purchase Info*@
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="PurchaseDate" class="control-label"></label>
        <input asp-for="PurchaseDate" type="text" class="form-control datepicker" autocomplete="off" />
        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
    </div>

    <hr />

    @*Supplier*@
    <div class="form-group" hidden>
        <label asp-for="SupplierId" class="control-label"></label>
        <input asp-for="SupplierId" type="number" value="0" class="form-control" />
        <span asp-validation-for="SupplierId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label h5" asp-for="Supplier"></label>
        <input id="supplier-selector"
               class="form-control"
               type="text"
               data-path="@Url.Action("GetIds", "Suppliers")" />
    </div>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="RegisterNewSupplier"
                   class="form-check-input"
                   type="checkbox"
                   data-toggle="collapse"
                   href="#supplierInputCollapse">
            <label asp-for="RegisterNewSupplier" class="form-check-label"></label>
        </div>
    </div>

    <div class="collapse" id="supplierInputCollapse">
        <div class="form-group">
            <label asp-for="Supplier.FirstName" class="control-label"></label>
            <input asp-for="Supplier.FirstName" type="text" class="form-control supplier-input" />
            <span asp-validation-for="Supplier.FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Supplier.LastName" class="control-label"></label>
            <input asp-for="Supplier.LastName" type="text" class="form-control supplier-input" />
            <span asp-validation-for="Supplier.LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Supplier.CompanyName" class="control-label"></label>
            <input asp-for="Supplier.CompanyName" type="text" class="form-control supplier-input" />
            <span asp-validation-for="Supplier.CompanyName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Supplier.Address" class="control-label"></label>
            <textarea asp-for="Supplier.Address" class="form-control supplier-input"></textarea>
            <span asp-validation-for="Supplier.Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Supplier.Phone" class="control-label"></label>
            <input asp-for="Supplier.Phone" type="text" class="form-control supplier-input" />
            <span asp-validation-for="Supplier.Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Supplier.Email" class="control-label"></label>
            <input asp-for="Supplier.Email" type="text" class="form-control supplier-input" />
            <span asp-validation-for="Supplier.Email" class="text-danger"></span>
        </div>
    </div>

    <hr />

    @*Cart*@
    <label class="h5">Cart</label>

    <div class="form-group" hidden>
        <label class="control-label"></label>
        <input class="form-control" id="lineitem-id" type="number" />
    </div>

    <div class="form-group" hidden>
        <label class="control-label"></label>
        <input class="form-control" type="number" id="lineitem-type" />
    </div>

    <div class="form-group">
        <label class="control-label" for="lineitem-selector">Item</label>
        <input id="lineitem-selector"
               class="form-control"
               type="text"
               data-path="@Url.Action("GetLineItems", "Purchases")" />
    </div>

    <div class="form-group">
        <label class="control-label" for="lineitem-quantity">Qty.</label>
        <input id="lineitem-quantity"
               class="form-control"
               type="number" min="0" />
    </div>

    <div class="form-group">
        <label class="control-label" for="lineitem-unitprice">Unit Price</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@sym</span>
            </div>
            <input id="lineitem-unitprice"
                   class="form-control"
                   type="number" min="0" />
        </div>
        <span validation-for="lineitem-unitprice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label" for="lineitem-netprice">Net Price</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@sym</span>
            </div>
            <input id="lineitem-netprice"
                   class="form-control"
                   type="number" min="0" />
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-outline-primary" id="lineitem-add-button">Add Item</button>
        <button class="btn btn-outline-secondary" id="lineitem-clear-button">Clear Item</button>
    </div>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th hidden>Id</th>
                <th hidden>Type</th>
                <th>Name</th>
                <th colspan="3" class="text-right">Qty.</th>
                <th class="text-right">Unit Price</th>
                <th class="text-right">Net Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="cart"></tbody>
    </table>

    <hr />

    @*Payment*@

    <label class="h5">Payment Information</label>

    <div class="form-group">
        <label for="subtotal" class="control-label">Subtotal</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@sym</span>
            </div>
            <input id="subtotal" type="number" class="form-control" disabled />
        </div>
    </div>

    <div class="form-group">
        <label for="debt-before" class="control-label">Previous Due</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@sym</span>
            </div>
            <input id="debt-before" type="number" class="form-control" disabled />
        </div>
    </div>

    <div class="form-group">
        <label for="payable" class="control-label">Payable</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@sym</span>
            </div>
            <input id="payable" type="number" class="form-control" disabled />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Payment.Paid" class="control-label"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@sym</span>
            </div>
            <input asp-for="Payment.Paid" type="number" class="form-control" />
        </div>
        <span asp-validation-for="Payment.Paid" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="debt-after" class="control-label">New Due</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@sym</span>
            </div>
            <input id="debt-after" type="number" class="form-control" disabled />
        </div>
    </div>

    <hr />

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" type="text" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
</div>