@using DTOs
@using static Domain.LineItemType
@model PurchaseDto
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-6">
        <table class="table table-sm table-borderless table-hover">
            <tr>
                <th>Purchase#</th>
                <td>
                    <a asp-page="../Purchases/Details"
                       asp-route-id="@Model.Id"
                       target="_blank">
                        @Html.DisplayFor(model => model.Id) - @Html.DisplayFor(model => model.PurchaseDate)
                    </a>
                </td>
            </tr>
            <tr>
                <th>Vouchar#</th>
                <td>
                    <a asp-page="../Vouchars/Details"
                       asp-route-id="@Model.VoucharId"
                       target="_blank">
                        @Html.DisplayFor(model => model.VoucharId)
                    </a>
                </td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>
                    <a asp-page="../Suppliers/Details"
                       asp-route-id="@Model.SupplierId"
                       target="_blank">
                        <input type="number"
                               value="@Html.ValueFor(model => model.SupplierId)"
                               id="SupplierId"
                               class="form-control"
                               hidden
                               disabled />
                        @Html.DisplayFor(model => model.SupplierId) - @Html.DisplayFor(model => model.Supplier.FullName)
                    </a>
                </td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>@Html.DisplayFor(model => model.Supplier.Phone)</td>
            </tr>
            <tr>
                <th>Current Due</th>
                <td>
                    @Html.DisplayFor(model => model.Supplier.Payable)
                    <input id="current-due"
                           type="number"
                           value="@Html.ValueFor(model => model.Supplier.Payable)"
                           hidden
                           disabled />
                </td>
            </tr>
            <tr>
                <th>Total</th>
                <td>@Html.DisplayFor(model => model.PaymentTotal)</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>@Html.DisplayFor(model => model.PaymentPaid)</td>
            </tr>
            <tr>
                <th>Purchase Due</th>
                <td>@Html.DisplayFor(model => model.PaymentDue)</td>
            </tr>
        </table>
    </div>

    <div class="col-lg-6">
        <h4>Cart</h4>
        <table class="table table-sm table-borderless table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Net Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Cart)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => p.Name)</td>
                        <td>@Html.DisplayFor(model => p.UnitPurchasePrice)</td>
                        <td>@Html.DisplayFor(model => p.Quantity)</td>
                        <td>@Html.DisplayFor(model => p.NetPurchasePrice)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>