@model IEnumerable<DTOs.PurchaseDto>

    <table class="table table-sm table-borderless table-responsive-sm table-hover table-striped">
        <thead>
            <tr class="thead-dark">
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Supplier.FullName)</th>
                <th class="text-right">@Html.DisplayNameFor(model => model.PaymentSubTotal)</th>
                <th class="text-right">@Html.DisplayNameFor(model => model.PaymentDue)</th>
                <th class="text-right">Items</th>
                <th class="text-right">Created at</th>
                <th class="text-right">Creator</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="js-clickable-row" data-href="@Url.Page("/Purchases/Details", new { id = item.Id })">
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Supplier.FullName)</td>
                    <td class="text-right">@Html.DisplayFor(modelItem => item.PaymentSubTotal)</td>
                    <td class="text-right">@Html.DisplayFor(modelItem => item.PaymentDue)</td>
                    <td class="text-right">@Html.ValueFor(modelItem => item.Cart.Count)</td>
                    <td class="text-right">@Html.DisplayFor(modelItem => item.Metadata.CreatedAt)</td>
                    <td class="text-right">@Html.DisplayFor(modelItem => item.Metadata.Creator)</td>
                    <td class="text-right">
                        <a asp-page="../Vouchars/Details"
                           asp-route-id="@Html.ValueFor(modelItem => item.VoucharId)"
                           class="card-link btn btn-sm btn-inline btn-success blank-link">Vouchar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
