@model Business.PageFilterSort.PageFilter

@{
    var searchPlaceholder =
        ViewData["SearchPlaceholder"] ?? "Search" ;
}

<form asp-page="./Index" method="get">
    <div class="input-group mb-2">
        <input asp-for="@Model.PageSize"
               name="PageSize"
               value="@int.MaxValue"
               class="form-control" hidden />
        <input asp-for="@Model.PageIndex"
               name="PageIndex"
               value="1"
               class="form-control" hidden />
        <input asp-for="@Model.Filter"
               name="SearchString"
               value="@Model.Filter"
               type="search"
               placeholder="@searchPlaceholder..."
               class="form-control"
               aria-label="Search keyword" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    type="submit"
                    id="searchButton">
                Go
            </button>
        </div>
    </div>
</form>