@model IEnumerable<Khata.DTOs.SalaryPaymentDto>


<table class="table table-sm table-borderless table-responsive-sm table-hover table-striped">
    <thead>
        <tr class="thead-dark">
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.EmployeeFullName)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.Amount)</th>
            <th class="text-right">Created at</th>
            <th class="text-right">Created by</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salaryPayment in Model)
        {
            <tr class="js-clickable-row"
                data-href="@Url.Page("./Details", new { id = salaryPayment.Id })">
                <td>@Html.DisplayFor(modelItem => salaryPayment.Id)</td>
                <td>@Html.DisplayFor(modelItem => salaryPayment.EmployeeFullName)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => salaryPayment.Amount)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => salaryPayment.Metadata.CreatedAt)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => salaryPayment.Metadata.Creator)</td>
            </tr>
        }
    </tbody>
</table>
