@model IEnumerable<DTOs.DebtPaymentDto>

<table class="table table-sm table-borderless table-responsive-sm table-hover table-striped">
    <thead>
        <tr class="thead-dark">
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.CustomerFullName)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.Amount)</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var debtPayment in Model)
        {
            var href = Url.Page(
                "/DebtPayments/Details",
                new
                {
                    area = "Incoming",
                    id = debtPayment.Id
                });

            <tr class="js-clickable-row"
                data-href="@href">
                <td>@Html.DisplayFor(modelItem => debtPayment.Id)</td>
                <td>@Html.DisplayFor(modelItem => debtPayment.CustomerFullName)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => debtPayment.Amount)</td>
                <td class="text-right">
                    <a asp-area="Incoming"
                       asp-page="/Invoices/Details"
                       asp-route-id="@Html.ValueFor(modelItem => debtPayment.InvoiceId)"
                       target="_blank"
                       class="card-link btn btn-sm btn-success d-inline blank-link-button">
                        Invoice
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
