@model IEnumerable<Withdrawal>

<table class="table table-sm table-hover table-striped">
    <thead>
        <tr class="thead-dark">
            <th>
                Amount
            </th>
            <th class="text-right">
                Created At
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var d in Model)
    {
        var content = 
            $@"<table class=""table table-sm"">
                <tr>
                    <td><strong>Id</strong></td>
                    <td>{d.Id}</td>
                </tr>
                <tr>
                    <td><strong>Amount</strong></td>
                    <td>{d.Amount.ToCurrency()}</td>
                </tr>
                <tr>
                    <td><strong>Description&nbsp;&nbsp;</strong></td>
                    <td>{d.Description}</td>
                </tr>
            </table>";

        var href = Url.Page("/Withdrawals/Details",
            new
            {
                area = "Outgoing",
                id = d.Id
            });

        <tr class="js-clickable-row"
            data-href="@href"
            data-toggle="popover"
            data-trigger="hover"
            data-html="true"
            data-placement="top"
            title="@d.TableName.FromPascalCase()"
            data-content="@content">
            <td>@(d.Amount.ToCurrency())</td>
            <td class="text-right">@d.Metadata.ModifiedAt</td>
        </tr>
    }
    </tbody>
    </table>