@page
@using WebUI.Areas.People.Pages.Customers
@model StatementModel
@{
    Layout = null;
    ViewData["Title"] = "Customer Statement";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Statement</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/invoice.css" rel="stylesheet" />
</head>

<body>
    <div id="page" class="container">
        <div id="top" class="row jumbotron jumbotron-fluid pr-4 pl-4">
            <div class="col-md-8">
                <div id="brand">
                    <h1 class="display-4">@Model.Customer.FullName</h1>
                    <p class="lead">
                        <table class="table-hover">
                            <tr>
                                <th>Company &nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <td>@Model.Customer.CompanyName</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>@Model.Customer.Phone</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>@Model.Customer.Address</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-right text-muted" style="font-style:italic;">
                <span>#@Model.Customer.Id - Customer Statement</span>
            </div>
            <table class="table table-sm table-hover" style="border-top: solid 1px black;">
                <tr>
                    <th>For</th>
                    <td class="text-right">
                        @(Model.FromDate.LocalDate()) - @(Model.ToDate.LocalDate())
                    </td>
                </tr>
                <tr>
                    <th>Current Due</th>
                    <td class="text-right">
                        @Model.Customer.Debt.ToString("C2")
                    </td>
                </tr>
                <tr>
                    <th>Sale Total</th>
                    <td class="text-right">
                        <span class="badge badge-dark">
                            @Model.Sales.Count()
                        </span>
                        @(Model.Sales.Sum(s => s.PaymentTotal).ToString("C2"))
                    </td>
                </tr>
                <tr>
                    <th>Sale Due</th>
                    <td class="text-right">
                        <span class="badge badge-dark">
                            @Model.Sales.Count(s => s.PaymentDue > 0)
                        </span>
                        @(Model.Sales.Sum(s => s.PaymentDue).ToString("C2"))
                    </td>
                </tr>
                <tr>
                    <th>Due Paid</th>
                    <td class="text-right">
                        <span class="badge badge-dark">
                            @Model.DebtPayments.Count()
                        </span>
                        @(Model.DebtPayments.Sum(s => s.Amount).ToString("C2"))
                    </td>
                </tr>
                <tr>
                    <th>Refunds Total</th>
                    <td class="text-right">
                        <span class="badge badge-dark">
                            @Model.Refunds.Count()
                        </span>
                        @(Model.Refunds.Sum(s => s.TotalPrice).ToString("C2"))
                    </td>
                </tr>
                <tr>
                    <th title="Cash Back + Debt Roll Back">Refunds Back</th>
                    <td class="text-right">
                        @(Model.Refunds.Sum(s => s.DebtRollback + s.CashBack).ToString("C2"))
                    </td>
                </tr>
            </table>
        </div>
        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th class="text-right">Total</th>
                    <th class="text-right">Paid</th>
                    <th class="text-right">Due</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Elements)
                {
                    <tr>
                        <td>@item.DateTime.LocalDate()</td>
                        <td>@item.Type</td>
                        <td class="text-right">@item.Total.ToString("C2")</td>
                        <td class="text-right">@item.Paid.ToString("C2")</td>
                        <td class="text-right">@item.Due.ToString("C2")</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-right text-muted" style="font-style:italic;">
            Generated on: @Model.ForDate.LocalDate()
        </div>
    </div>
</body>
</html>