@model DTOs.ServiceDto

<div class="card" style="width:40rem">
    <div class="card-header">
        <div class="row">
            <div class="col-6">Service# @Model.Id</div>
            <div class="col-6 text-right">
                @if (Model.IsRemoved)
                {
                    <span class="badge badge-danger">Removed</span>
                }
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <h3 class="card-title col-md-6">@Model.Name</h3>
            <h5 class="card-subtitle text-right text-muted col-md-6">
                @Model.Outlet.Title
            </h5>
        </div>
        <table class="table table-sm table-hover mt-5">
            <tbody>
                <tr>
                    <th>Price</th>
                    <td>@Html.DisplayFor(model => model.Price)</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <div class="row">
            <div class="col-md-6">
                @if (!Model.IsRemoved)
                {<a asp-page="./Edit"
                    asp-route-id="@Model.Id"
                    class="card-link text-white btn btn-link btn-secondary">Edit</a>

                    <a href="#"
                       class="card-link text-white btn btn-link btn-danger js-remove-item"
                       data-href="@Url.Action("Remove", "Services", new { id = Model.Id })"
                       data-returnUrl="@Url.Page("./Index")">
                        Remove
                    </a>
                }
            </div>
            <div class="col-md-6 text-right">
                <a asp-page="./Index"
                   class="card-link btn btn-primary">
                    Back to List
                </a>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <partial name="_UpdateSummary" for="Metadata" />
    </div>
</div>