@model IEnumerable<Khata.DTOs.SalaryPaymentDto>


<table class="table table-sm table-borderless table-responsive-sm table-hover table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.EmployeeFullName)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
            <th>@Html.DisplayNameFor(model => model.MetadataModifier)</th>
            <th>@Html.DisplayNameFor(model => model.MetadataModificationTime)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salaryPayment in Model)
        {
            <tr class="js-clickable-row"
                data-href="@Url.Page("./Details", new { id = salaryPayment.Id })">
                <td>@Html.DisplayFor(modelItem => salaryPayment.Id)</td>
                <td>@Html.DisplayFor(modelItem => salaryPayment.EmployeeFullName)</td>
                <td>@Html.DisplayFor(modelItem => salaryPayment.Amount)</td>
                <td>@Html.DisplayFor(modelItem => salaryPayment.MetadataModifier)</td>
                <td>@Html.DisplayFor(modelItem => salaryPayment.MetadataModificationTime)</td>
            </tr>
        }
    </tbody>
</table>
