@page
@using WebUI.Areas.Incoming.Pages.Invoices
@model DetailsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice #@Model.Invoice.Id</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/invoice.css" rel="stylesheet" />
</head>

<body>
<div id="page" class="container">
<div id="top" class="row jumbotron jumbotron-fluid pr-4 pl-4">
    <div class="col-md-8">
        <div id="brand">
            <h1 class="display-4">@Model.Invoice.Outlet.Title</h1>
            <p class="lead">
                @Model.Invoice.Outlet.Slogan
            </p>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <p class="lead">
            <em>Invoice #<strong>@Model.Invoice.Id</strong></em>
            <br />
            <small>@Model.Invoice.DateLocalDate</small>
        </p>
    </div>
    <table class="table table-sm table-hover w-100">
        <tr>
            <th>Address &nbsp; &nbsp;</th>
            <td class="text-right">@Model.Invoice.Outlet.Address</td>
        </tr>
        <tr>
            <th>Email</th>
            <td class="text-right">
                @Html.DisplayFor(model => model.Invoice.Outlet.Email)
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td class="text-right">@Model.Invoice.Outlet.Phone</td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="col-md-6">
        <ul class="payment-information list-group list-group-flush">
            <li class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-sm-4">Buyer</div>
                    <div class="col-sm-8 text-right">
                        <strong>
                            @Model.Invoice.Customer.FullName
                        </strong>
                    </div>
                </div>
            </li>

            <li class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-sm-4">Company</div>
                    <div class="col-sm-8 text-right">
                        @Model.Invoice.Customer.CompanyName
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-sm-4">Phone</div>
                    <div class="col-sm-8 text-right">
                        @Html.DisplayFor(model => model.Invoice.Customer.Phone)
                    </div>
                </div>
            </li>

            <li class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-sm-4">Email</div>
                    <div class="col-sm-8 text-right">
                        @Html.DisplayFor(model => model.Invoice.Customer.Email)
                    </div>
                </div>
            </li>

            <li class="list-group-item list-group-item-action list-group-item-light">
                <div class="row">
                    <div class="col-sm-4">Address</div>
                    <div class="col-sm-8 text-right">
                        @Html.DisplayFor(model => model.Invoice.Customer.Address)
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="payment-information list-group list-group-flush">
            <li class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-sm-6">Cart Item Total</div>
                    <div class="col-sm-6 text-right">
                        @Html.DisplayFor(model => model.Invoice.PaymentSubtotal)
                    </div>
                </div>
            </li>

            <li class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-sm-6">Discount</div>
                    <div class="col-sm-6 text-right">
                        - @Html.DisplayFor(model => model.Invoice.PaymentDiscountPercentage)%
                        / @Html.DisplayFor(model => model.Invoice.PaymentDiscountCash)
                    </div>
                </div>
            </li>
            @{
                var previousDueClass =
                    Model.Invoice.PreviousDue > 0
                        ? "list-group-item-warning"
                        : "";
            }
            <li class="list-group-item list-group-item-action @previousDueClass">
                <div class="row">
                    <div class="col-sm-6">Previous Due</div>
                    <div class="col-sm-6 text-right">
                        + @Html.DisplayFor(model => model.Invoice.PreviousDue)
                    </div>
                </div>
            </li>

            <li class="list-group-item list-group-item-action list-group-item-info">
                <div class="row">
                    <div class="col-sm-6">Payable</div>
                    <div class="col-sm-6 text-right">
                        <strong>
                            = @Html.DisplayFor(model => model.Invoice.PaymentPayable)
                        </strong>
                    </div>
                </div>
            </li>

            <li class="list-group-item list-group-item-action list-group-item-light">
                <div class="row">
                    <div class="col-sm-6">Paid</div>
                    <div class="col-sm-6 text-right">
                        <strong>
                            - @Html.DisplayFor(model => model.Invoice.PaymentPaid)
                        </strong>
                    </div>
                </div>
            </li>

            @{
                var dueClass = Model.Invoice.DueAfter > 0
                    ? "list-group-item-danger"
                    : "list-group-item-success";
            }

            <li class="list-group-item list-group-item-action @dueClass">
                <div class="row">
                    <div class="col-sm-6">Due</div>
                    <div class="col-sm-6 text-right">
                        <strong>
                            = @Html.DisplayFor(model => model.Invoice.DueAfter)
                        </strong>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

<br />
<div class="row">
    <div class="col-12">
        @{
            if (Model.Invoice.Cart?.Count > 0)
            {
                <table class="table table-sm table-hover table-striped">
                    <thead>
                    <tr class="table-light">
                        <th class="h4" colspan="4">
                            Cart Items
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Item
                        </th>
                        <th class="text-right">
                            Quantity
                        </th>
                        <th class="text-right">
                            Unit Price
                        </th>
                        <th class="text-right">
                            Net Price
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Invoice.Cart)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="text-right">@Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td class="text-right"
                                style="font-weight: 700;">
                                @Html.DisplayFor(modelItem => item.NetPrice)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <h5 class="display-4">Empty Cart</h5>
                <p class="card-text">There is no item in the cart.</p>
            }
            <footer class="p-1 pt-2" style="background: lightgray; font-style:italic">
                <p class="text-right">Thanks for shopping with us</p>
            </footer>
        }
    </div>
</div>
</div>
</body>
</html>
