@model Khata.DTOs.CustomerDto

<div class="card" style="width:40rem">
    <div class="card-header">
        <div class="row">
            <div class="col-6">Customer# @Model.Id</div>
            <div class="col-6 text-right">
                @if (Model.IsRemoved)
                {
                    <span class="badge badge-danger">Removed</span>
                }
            </div>
        </div>

    </div>
    <div class="card-body">
        <h3 class="card-title">@Model.FullName</h3>
        <table class="table table-sm table-hover mt-4">
            <tr>
                <th>Company</th>
                <td>@Model.CompanyName</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Due</th>
                <td>@Html.DisplayFor(model => model.Debt)</td>
            </tr>

            <tr>
                <th>Note</th>
                <td>@Model.Note</td>
            </tr>

        </table>

        <hr />
        <div class="row">

            <div class="col-md-6">
                @if (!Model.IsRemoved)
                {
                    <a asp-page="./Edit"
                       asp-route-id="@Model.Id"
                       class="card-link text-white btn btn-link btn-secondary">Edit</a>

                    <a href="#"
                       class="card-link text-white btn btn-link btn-danger js-remove-item"
                       data-href="@Url.Action("Remove", "Customers", new {id = Model.Id})"
                       data-returnUrl="@Url.Page("./Index")">
                        Remove
                    </a>
                }
            </div>
            <div class="col-md-6 text-right">
                <a asp-page="./Index"
                   class="card-link btn btn-primary">
                    Back to List
                </a>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <partial name="_UpdateSummary" for="Metadata" />
    </div>
</div>