@model Khata.DTOs.SupplierDto

<div class="card" style="width:40rem">
    <div class="card-header">
        <div class="row">
            <div class="col-6">Supplier# @Model.Id</div>
            <div class="col-6 text-right">
                @if (Model.IsRemoved)
                {
                    <span class="badge badge-danger">Removed</span>
                }
            </div>
        </div>

    </div>
    <div class="card-body">
        <h3 class="card-title">@Model.FullName</h3>
        <hr />
        <table class="table table-sm table-borderless table-hover">
            <tr>
                <td>Company</td>
                <td>@Model.CompanyName</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Payable</td>
                <td>@Model.Payable</td>
            </tr>

            <tr>
                <td>Note</td>
                <td>@Model.Note</td>
            </tr>

        </table>

        <hr />
        <div class="row">

            <div class="col-md-6">
                @if (!Model.IsRemoved)
                {
                    <a asp-page="./Edit"
                       asp-route-id="@Model.Id"
                       class="card-link text-white btn btn-link btn-secondary">Edit</a>

                    <a href="#"
                       class="card-link text-white btn btn-link btn-danger js-remove-item"
                       data-href="@Url.Action("Remove", "Suppliers", new {id = Model.Id})"
                       data-returnUrl="@Url.Page("./Index")">
                        Remove
                    </a>
                }
            </div>
            <div class="col-md-6 text-right">
                <a asp-page="./Index"
                   class="card-link btn btn-primary">
                    Back to List
                </a>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <partial name="_UpdateSummary" for="Metadata" />
    </div>
</div>