@page
@model WebUI.Areas.Identity.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Users";
}

@if (Model.AppUsers.Any())
{
    <div class="mb-2 text-right">
        <a class="btn btn-primary"
           asp-area="Identity"
           asp-page="/Users/Create">
            Create New User
        </a>
    </div>

    <table class="table table-sm table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    First Name
                </th>

                <th>
                    Last Name
                </th>

                <th>
                    Email
                </th>
                
                <th class="text-right">
                    Email Confirmed
                </th>

                <th class="text-right">
                    Username
                </th>

                <th class="text-right">
                    Role
                </th>
                
                <th class="text-right"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model.AppUsers)
            {
                <tr>
                    <td>
                        @user.FirstName
                    </td>

                    <td>
                        @user.LastName
                    </td>

                    <td>
                        @user.Email
                    </td>
                    
                    <td class="text-right">
                        @user.EmailConfirmed
                    </td>

                    <td class="text-right">
                        @user.UserName
                    </td>

                    <td class="text-right">
                        @user.Role
                    </td>
                    
                    <td class="text-right">
                        <a class="btn btn-sm btn-danger text-white js-remove-item"
                           data-href="@Url.Action(
                                          "Delete", 
                                          "Users", 
                                          new { user.Id })"
                           data-returnUrl="@Url.Page(
                                               "/Users/Index", 
                                               new {area = "Identity"})">
                            Delete
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

else
{
    <partial name="_LonelyHere" />
}