@page
@model DueReportModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Due Report</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/invoice.css" rel="stylesheet" />
</head>

<body>
    <div id="page" class="container">
        <div id="top" class="row jumbotron jumbotron-fluid pr-4 pl-4">
            <div class="col-md-8">
                <div id="brand">
                    <h1 class="display-4">Due Report</h1>
                    <p class="lead">
                        For: @Html.ValueFor(model => model.ForDate)
                    </p>
                    <table class="table-hover">
                        <tr>
                            <td>Total Customers </td>
                            <td>: @Html.DisplayFor(model => model.Count)</td>
                        </tr>
                        <tr>
                            <td>Total Due</td>
                            <td>: @Html.DisplayFor(model => model.TotalDue)</td>
                        </tr>
                        <tr>
                            <td>Average Due</td>
                            <td>: @Html.DisplayFor(model => model.AverageDue)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <table class="table table-sm table-bordered table-hover table-striped pt-2">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th class="text-right">Phone</th>
                    <th class="text-right">Due</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Customers)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => c.Id)</td>
                        <td>@Html.DisplayFor(modelItem => c.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => c.Address)</td>
                        <td class="text-right">@Html.DisplayFor(modelItem => c.Phone)</td>
                        <td class="text-right">@Html.DisplayFor(modelItem => c.Debt)</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
