@using Khata.ViewModels
@using static Khata.Domain.SaleType
@model SaleViewModel

@{
    var sym = System.Globalization.CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol;
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />

<style>
    .card {
        width: 100%;
        margin-bottom: 2rem;
        margin-right: 2rem;
    }

    .cart {
        background-color: inherit;
    }

    .cart-item-name {
        min-width: 10rem;
    }

    .cart-item {
        font-weight: bold;
    }
</style>

<div class="row">
    <!--SALE DATA-->
    <!--CUSTOMER-->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SaleDate" class="control-label"></label>
                                    <input asp-for="SaleDate" type="text" class="form-control form-control-sm datepicker" autocomplete="off" />
                                    <span asp-validation-for="SaleDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="OutletId" class="control-label"></label>
                                    <select asp-for="OutletId" class="form-control form-control-sm" asp-items="ViewBag.Outlets"></select>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="Type" class="control-label"></label>
                            <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="Type" class="form-check-input" type="radio" id="retail" value="@Retail" checked>
                                <label class="form-check-label" for="retail">
                                    Retail
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input asp-for="Type" class="form-check-input" type="radio" id="bulk" value="@Bulk">
                                <label class="form-check-label" for="bulk">
                                    Whole Sale
                                </label>
                            </div>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" hidden>
                            <label asp-for="CustomerId" class="control-label"></label>
                            <input asp-for="CustomerId" type="number" value="0" class="form-control" />
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label h5 card-title" asp-for="Customer"></label>
                            <input id="customer-selector"
                                   class="form-control form-control-sm"
                                   type="text"
                                   data-path="@Url.Action("GetIds", "Customers")" />
                        </div>

                        <div id="customer-brief-info">

                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input asp-for="RegisterNewCustomer"
                                       class="form-check-input"
                                       type="checkbox"
                                       data-toggle="collapse"
                                       href="#customerInputCollapse">
                                <label asp-for="RegisterNewCustomer" class="form-check-label"></label>
                            </div>
                        </div>
                    </div>
                </div>

                @*Customer*@
                <div class="collapse" id="customerInputCollapse">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.FirstName" class="control-label"></label>
                                <input asp-for="Customer.FirstName" type="text" class="form-control form-control-sm customer-input" />
                                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.LastName" class="control-label"></label>
                                <input asp-for="Customer.LastName" type="text" class="form-control form-control-sm customer-input" />
                                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.CompanyName" class="control-label"></label>
                                <input asp-for="Customer.CompanyName" type="text" class="form-control form-control-sm customer-input" />
                                <span asp-validation-for="Customer.CompanyName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.Phone" class="control-label"></label>
                                <input asp-for="Customer.Phone" type="text" class="form-control form-control-sm customer-input" />
                                <span asp-validation-for="Customer.Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.Email" class="control-label"></label>
                                <input asp-for="Customer.Email" type="text" class="form-control form-control-sm customer-input" />
                                <span asp-validation-for="Customer.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.Address" class="control-label"></label>
                                <textarea asp-for="Customer.Address" class="form-control form-control-sm customer-input"></textarea>
                                <span asp-validation-for="Customer.Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--LINE ITEM SELECT-->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                @*Cart*@
                <label class="h5 card-title">Choose Items</label>

                <div class="form-group" hidden>
                    <label class="control-label"></label>
                    <input class="form-control form-control-sm" id="lineitem-id" type="number" />
                </div>

                <div class="form-group" hidden>
                    <label class="control-label"></label>
                    <input class="form-control form-control-sm" type="number" id="lineitem-type" />
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label" for="lineitem-selector">Item</label>
                            <input id="lineitem-selector"
                                   class="form-control form-control-sm"
                                   type="text"
                                   data-path="@Url.Action("GetLineItems", "Sales")" />
                            <small class="text-muted">Available: <span id="lineitem-available" class="text-info"></span></small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="lineitem-quantity">Qty.</label>
                            <input id="lineitem-quantity"
                                   class="form-control form-control-sm"
                                   type="number" min="0" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="lineitem-unitprice">Unit Price</label>
                            <div class="input-group  input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="lineitem-unitprice"
                                       class="form-control form-control-sm"
                                       type="number" min="0" />
                            </div>
                            <span validation-for="lineitem-unitprice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="lineitem-netprice">Net Price</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="lineitem-netprice"
                                       class="form-control form-control-sm"
                                       type="number" min="0" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group pb-3">
                    <button role="button" class="btn btn-sm btn-outline-primary card-link" id="lineitem-add-button">Add Item</button>
                    <button role="button" class="btn btn-sm btn-outline-secondary card-link" id="lineitem-clear-button">Clear Item</button>
                </div>

                <input type="number" value="@Html.ValueFor(model => model.Cart.Count)" id="items-added" name="items-added" disabled hidden />
                <div id="cart" class="">
                    @for (int i = 0; i < Model?.Cart?.Count; i++)
                    {
                        var cartItem = Model.Cart[i];

                        <div class="row">
                            <div class="col-12">
                                <div class="col" hidden>
                                    <input type="number"
                                           name="Cart.Index"
                                           value="@i" />
                                    <input type="number"
                                           name="Cart[@i].ItemId"
                                           class="cart-item-itemid"
                                           value="@cartItem.ItemId" />
                                    <input type="number"
                                           name="Cart[@i].Type"
                                           class="cart-item-type"
                                           value="@cartItem.Type" />
                                </div>

                                <div class="input-group input-group-sm mb-0">
                                    <input type="text"
                                           name="Cart[@i].Name"
                                           class="form-control cart-item-name cart-item"
                                           data-toggle="tooltip" title="Name"
                                           value="@cartItem.Name"
                                           aria-label="Name" readonly />

                                    <div class="input-group-append">
                                        <button class="btn btn-outline-danger cart-item-removeitem"
                                                id="remove-item-button-@i"
                                                type="button">
                                            Remove
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm mt-0 mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Net Price :</span>
                                    </div>

                                    <input type="number" readonly
                                           class="text-right cart-item-unirprice cart-item form-control"
                                           data-toggle="tooltip" title="Unit Price"
                                           value="@(cartItem.NetPrice / cartItem.Quantity)" />

                                    <div class="input-group-prepend">
                                        <span class="input-group-text">X</span>
                                    </div>

                                    <input type="number" readonly
                                           name="Cart[@i].Quantity"
                                           class="text-right cart-item-quantity cart-item form-control"
                                           data-toggle="tooltip" title="Quantity"
                                           value="@cartItem.Quantity" />

                                    <div class="input-group-prepend">
                                        <span class="input-group-text">=</span>
                                    </div>

                                    <input type="number" readonly
                                           name="Cart[@i].NetPrice"
                                           class="text-right cart-item-netprice cart-item form-control"
                                           data-toggle="tooltip" title="Net Price"
                                           value="@cartItem.NetPrice" />
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--PAYMENT INFORMATION-->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label class="h5 card-title">Payment Information</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subtotal" class="control-label">Subtotal</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="subtotal" type="number" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="debt-before" class="control-label">Previous Due</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="debt-before" type="number" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Payment.DiscountCash" class="control-label"></label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input asp-for="Payment.DiscountCash" type="number" class="form-control" />
                            </div>
                            <span asp-validation-for="Payment.DiscountCash" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Payment.DiscountPercentage" class="control-label"></label>
                            <div class="input-group input-group-sm">
                                <input asp-for="Payment.DiscountPercentage"
                                       type="number"
                                       class="form-control"
                                       tabIndex="-1"
                                       min="0"
                                       max="80" />
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                            <span asp-validation-for="Payment.DiscountPercentage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="payable" class="control-label">Payable</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="payable" type="number" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Payment.Paid" class="control-label"></label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input asp-for="Payment.Paid" type="number" class="form-control" />
                            </div>
                            <span asp-validation-for="Payment.Paid" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="debt-after" class="control-label">New Due</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="debt-after" type="number" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" type="text" class="form-control form-control-sm"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>