@model Khata.Queries.IncomeBase

<div class="card mb-3"
     style="max-width: 24rem;">
    <div class="card-header">
        Income
    </div>
    <div class="card-body">
        <canvas class="w-100 income-chart" height="200"></canvas>
        <p class="card-title lead text-right chart-info-big">
            @((Model.DebtReceived + Model.SaleReceived + Model.DepositAmount).ToString("C2"))
        </p>
        <table class="table table-sm table-hover table-borderless table-striped">
            <tbody>
                <tr>
                    <th>Sales</th>
                    <td class="text-right">@Html.DisplayFor(model => Model.SaleCount)</td>
                </tr>
                <tr>
                    <th>Sale Received</th>
                    <td class="text-right">@Html.DisplayFor(model => Model.SaleReceived)</td>
                </tr>
                <tr>
                    <th>Debt Received</th>
                    <td class="text-right">@Html.DisplayFor(model => Model.DebtPaymentCount)</td>
                </tr>
                <tr>
                    <th>Debt Received</th>
                    <td class="text-right">@Html.DisplayFor(model => Model.DebtReceived)</td>
                </tr>
                <tr>
                    <th>Deposit</th>
                    <td class="text-right">@Html.DisplayFor(model => Model.DepositsCount)</td>
                </tr>
                <tr>
                    <th>Deposits Total</th>
                    <td class="text-right">@Html.DisplayFor(model => Model.DepositAmount)</td>
                </tr>
                <tr><th>&nbsp;</th><td></td></tr>
                <tr><th>&nbsp;</th><td></td></tr>
            </tbody>
        </table>
    </div>
</div>