@model Khata.Queries.LiabilityReport

<div class="card widget-tall mb-3">
    <div class="card-header">Liabilities</div>
    <div class="card-body">
        <canvas id="liabilityChart" class="" height="200"></canvas>
        <p class="card-title lead text-right chart-info-big"
           id="liability-total">
            @((Model.UnpaidAmount + Model.TotalDue).ToString("C2"))
        </p>
        <table class="table table-sm table-hover table-borderless table-striped">
            <tbody>
                <tr>
                    <th>Supplier Dues</th>
                    <td class="text-right">
                        <span class="badge badge-dark"
                              id="suppliers-with-due">
                            @Html.DisplayFor(model => Model.DueCount)
                        </span>
                        <span id="total-supplier-due">
                            @Html.DisplayFor(model => Model.TotalDue)
                        </span>
                    </td>
                </tr>
                <tr  data-toggle="tooltip" title="Outstanding Salaries of the Employees">
                    <th>Salaries Unpaid</th>
                    <td class="text-right">
                        <span class="badge badge-dark"
                              id="unpaid-employees">
                            @Html.DisplayFor(model => Model.UnpaidEmployees)
                        </span>
                        <span id="unpaid-amount">
                            @Html.DisplayFor(model => Model.UnpaidAmount)
                        </span>
                    </td>
                </tr>
                <tr><th>&nbsp;</th><td></td></tr>
            </tbody>
        </table>
    </div>
</div>
