@model WebUI.Pages.Dashboard.PayableWithSpan

<div class="card widget-tall mb-3">
    <div class="card-header">
        Payable
    </div>
    <div class="card-body">
        <canvas id="@Model.Span-payable-chart" height="200"></canvas>
        <p class="card-title lead text-right chart-info-big"
           id="@Model.Span-payable-total">
            @((Model.Payable.PurchaseDueAmount
                + Model.Payable.SalaryIssueAmount
                + Model.Payable.DebtOverPaymentAmount
                    ).ToString("C2"))
        </p>
        <table class="table table-sm table-hover table-borderless table-striped">
            <tbody>
                <tr>
                    <th>Purchases Due</th>
                    <td class="text-right">
                        <span class="badge badge-dark"
                              id="@Model.Span-purchases-due-count">
                            @Html.DisplayFor(model => Model.Payable.PurchaseDueCount)
                        </span>
                        <span id="@Model.Span-purchases-due-amount">
                            @Html.DisplayFor(model => Model.Payable.PurchaseDueAmount)
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Salary Issues</th>
                    <td class="text-right">
                        <span class="badge badge-dark"
                              id="@Model.Span-salary-issue-count">
                            @Html.DisplayFor(model => Model.Payable.SalaryIssueCount)
                        </span>
                        <span id="@Model.Span-salary-issue-amount">
                            @Html.DisplayFor(model => Model.Payable.SalaryIssueAmount)
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Customer Advance</th>
                    <td class="text-right">
                        <span class="badge badge-dark"
                              id="@Model.Span-debt-over-payment-count">
                            @Html.DisplayFor(model => Model.Payable.DebtOverPaymentCount)
                        </span>
                        <span id="@Model.Span-debt-over-payment-amount">
                            @Html.DisplayFor(model => Model.Payable.DebtOverPaymentAmount)
                        </span>
                    </td>
                </tr>
                <tr><th>&nbsp;</th><td></td></tr>
                <tr><th>&nbsp;</th><td></td></tr>
                <tr><th>&nbsp;</th><td></td></tr>
            </tbody>
        </table>
    </div>
</div>