@page
@model WebUI.Pages.Dashboard.Index2Model
@{
    ViewData["Title"] = "Dashboard";
}

<div id="app">
    <h1 class="display-4"
        v-text="title"></h1>

    <div class="row">
        <div class="col-lg-8 col-md-12 mb-3">
            <div class="card w-100">
                <div class="card-body">
                    <canvas id="perdayreport-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 widget">
            <div class="card widget-tall mb-3">
                <div class="card-header">Assets</div>
                <div class="card-body">
                    <canvas id="assetChart" class="" height="200"></canvas>
                    @*<p class="card-title lead text-right chart-info-big">
                            @((Model.Cash + Model.InventoryWorth + Model.TotalDue).ToString("C2"))
                        </p>
                        <table class="table table-sm table-hover table-borderless table-striped">
                            <tbody>
                                <tr>
                                    <th>Customers with Due</th>
                                    <td class="text-right">@Html.DisplayFor(model => Model.DueCount)</td>
                                </tr>
                                <tr>
                                    <th>Due Amount</th>
                                    <td class="text-right">@Html.DisplayFor(model => Model.TotalDue)</td>
                                </tr>
                                <tr>
                                    <th>Cash</th>
                                    <td class="text-right">@Html.DisplayFor(model => Model.Cash)</td>
                                </tr>
                                <tr>
                                    <th>Products in Stock</th>
                                    <td class="text-right">@Html.DisplayFor(model => Model.InventoryCount)</td>
                                </tr>
                                <tr>
                                    <th>Purchase Total</th>
                                    <td class="text-right">@Html.DisplayFor(model => Model.InventoryWorth)</td>
                                </tr>
                            </tbody>
                        </table>*@
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 widget">
            <div class="card widget-tall mb-3">
                <div class="card-header">Liabilities</div>
                <div class="card-body">
                    <canvas id="liabilityChart" class="" height="200"></canvas>
                    @*<p class="card-title lead text-right chart-info-big">
                            @((Model.UnpaidAmount + Model.TotalDue).ToString("C2"))
                        </p>
                        <table class="table table-sm table-hover table-borderless table-striped">
                            <tbody>
                                <tr>
                                    <th>Suppliers with Due</th>
                                    <td class="text-right">@Html.DisplayFor(model => Model.DueCount)</td>
                                </tr>
                                <tr>
                                    <th>Due Amount</th>
                                    <td class="text-right">@Html.DisplayFor(model => Model.TotalDue)</td>
                                </tr>
                                <tr>
                                    <th>Unpaid Employees</th>
                                    <td class="text-right">@Html.DisplayFor(model => Model.UnpaidEmployees)</td>
                                </tr>
                                <tr>
                                    <th>Unpaid Amount</th>
                                    <td class="text-right">@Html.DisplayFor(model => Model.UnpaidAmount)</td>
                                </tr>
                                <tr><th>&nbsp;</th><td></td></tr>
                            </tbody>
                        </table>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/chart.js/Chart.bundle.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/dashboard2.js"></script>
}