@using ViewModels
@model RefundViewModel

@{
    var sym = System.Globalization.CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol;
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />

<style>
    .card {
        width: 100%;
        margin-bottom: 2rem;
        margin-right: 2rem;
    }

    .cart {
        background-color: inherit;
    }

    .cart-item-name {
        min-width: 10rem;
    }

    .cart-item {
        font-weight: bold;
    }
</style>

<div class="row">
    <!--SALE DATA-->
    <!--CUSTOMER-->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label h5 card-title">Sale</label>
                            <input asp-for="SaleId" type="number" value="0" class="form-control" hidden />
                            <input id="sale-selector"
                                   class="form-control form-control-sm"
                                   type="text"
                                   data-path="@Url.Action("GetSales", "Refunds")" />
                        </div>
                    </div>
                    <div class="col-lg-12" id="sale-briefing">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--LINE ITEM SELECT-->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                @*Cart*@
                @*<label class="h5 card-title">Choose Sold Items</label>*@

                <div class="form-group" hidden>
                    <label class="control-label"></label>
                    <input class="form-control form-control-sm" id="lineitem-id" type="number" />
                </div>

                <div class="form-group" hidden>
                    <label class="control-label"></label>
                    <input class="form-control form-control-sm" type="number" id="lineitem-type" />
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label" for="lineitem-selector">Item</label>
                            <input id="lineitem-selector"
                                   class="form-control form-control-sm"
                                   type="text" />
                            @*<small class="text-muted">Available: <span id="lineitem-available" class="text-info"></span></small>*@
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="lineitem-quantity">Qty.</label>
                            <input id="lineitem-quantity"
                                   class="form-control form-control-sm"
                                   type="number" min="0" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="lineitem-unitprice">Unit Price</label>
                            <div class="input-group  input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="lineitem-unitprice"
                                       class="form-control form-control-sm"
                                       type="number" min="0" readonly />
                            </div>
                            <span validation-for="lineitem-unitprice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="lineitem-netprice">Net Price</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="lineitem-netprice"
                                       class="form-control form-control-sm"
                                       type="number" min="0" readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-sm btn-outline-primary card-link" id="lineitem-add-button">Add Item</button>
                    <button class="btn btn-sm btn-outline-secondary card-link" id="lineitem-clear-button">Clear Item</button>
                </div>

                <div id="cart" class="pt-3">

                </div>
            </div>
        </div>
    </div>


    <!--PAYMENT INFORMATION-->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label class="h5 card-title">Payment Information</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subtotal" class="control-label">Subtotal</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="subtotal" type="number" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="debt-before" class="control-label">Previous Due</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="debt-before" type="number" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CashBack" class="control-label"></label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input asp-for="CashBack"
                                       type="number"
                                       class="form-control" />
                            </div>
                            <span asp-validation-for="CashBack" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DebtRollback" class="control-label"></label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input asp-for="DebtRollback"
                                       type="number"
                                       class="form-control" />
                            </div>
                            <span asp-validation-for="DebtRollback" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="debt-after" class="control-label">New Due</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@sym</span>
                                </div>
                                <input id="debt-after" type="number" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" type="text" class="form-control form-control-sm"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
