@model IEnumerable<Khata.DTOs.EmployeeDto>


<table class="table table-sm table-borderless table-responsive-sm table-hover table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Designation)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.Balance)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.Phone)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.Address)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            string status;
            if (employee.Balance == 0M) { status = "success"; }
            else if (employee.Balance > 0M) { status = "warning"; }
            else { status = ""; }

            <tr class="table-@status js-clickable-row"
                data-href="@Url.Page("./Details", new { id = employee.Id })">
                <td>@Html.DisplayFor(modelItem => employee.Id)</td>
                <td>@Html.DisplayFor(modelItem => employee.FullName)</td>
                <td>@Html.DisplayFor(modelItem => employee.Designation)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => employee.Balance)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => employee.Phone)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => employee.Address)</td>
            </tr>
        }
    </tbody>
</table>