@model IEnumerable<Khata.DTOs.ExpenseDto>


<table class="table table-sm table-borderless table-responsive-sm table-hover table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
            <th>@Html.DisplayNameFor(model => model.MetadataModifier)</th>
            <th>@Html.DisplayNameFor(model => model.MetadataModification)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
            <tr class="js-clickable-row"
                data-href="@Url.Page("./Details", new { id = expense.Id })">
                <td>@Html.DisplayFor(modelItem => expense.Id)</td>
                <td>@Html.DisplayFor(modelItem => expense.Name)</td>
                <td>@Html.DisplayFor(modelItem => expense.Amount)</td>
                <td>@Html.DisplayFor(modelItem => expense.MetadataModifier)</td>
                <td>@Html.DisplayFor(modelItem => expense.MetadataModification)</td>
            </tr>
        }
    </tbody>
</table>
