@using WebUI
@model IEnumerable<Withdrawal>

<table class="table table-sm table-hover table-striped">
    <thead>
    <tr class="thead-dark">
        <th>
            Id
        </th>

        <th>
            Type
        </th>

        <th class="text-right">
            Amount
        </th>

        <th class="text-right">
            Created At
        </th>
    </tr>
    </thead>

    <tbody>
        @foreach (var d in Model)
        {
            var content = d.RowId is null
                ? ""
                : $@"<table class=""table table-sm"">
                      <tr>
                          <th>Id</th>
                          <td>{ d.Id }</td>
                      </tr>
                      <tr>
                          <th>Amount</th>
                          <td>{ d.Amount.ToCurrency() }</td>
                      </tr>
                      <tr>
                          <th>Description&nbsp;&nbsp;</th>
                          <td>{ d.Description }</td>
                      </tr>
                      </table>";

            var table = d.TableName + "s";
            var area = AreaHelper.FindArea(table);
            var recordUrl = $"/{area}/{table}/Details?id={d.RowId ?? d.Id}";

            var title = d.TableName.FromPascalCase();


            <tr class="js-clickable-row"
                data-href="@recordUrl"
                data-toggle="popover"
                data-trigger="hover"
                data-html="true"
                data-placement="top"
                title="@title"
                data-content="@content">
                <td>
                    @d.RowId
                </td>

                <td>
                    @title
                </td>

                <td class="text-right">
                    @(d.Amount.ToCurrency())
                </td>

                <td class="text-right">
                    @d.Metadata.ModifiedAt
                </td>
            </tr>
        }
    </tbody></table>