@model Queries.AssetReport

<div class="card widget-tall mb-3">
    <div class="card-header">Assets</div>
    <div class="card-body">
        <canvas id="assetChart" class="" height="200"></canvas>
        <p class="card-title lead text-right chart-info-big"
           id="asset-total">
            @((Model.Cash + Model.InventoryWorth + Model.TotalDue).ToString("C2"))
        </p>
        <table class="table table-sm table-hover table-borderless table-striped">
            <tbody>
                <tr>
                    <th>Cash</th>
                    <td class="text-right"
                        id="cash-in-hand">
                        @Html.DisplayFor(model => Model.Cash)
                    </td>
                </tr>
                <tr data-toggle="tooltip" title="Purchase Price of the Products in Stock">
                    <th>Inventory Assets</th>
                    <td class="text-right">
                        <span class="badge badge-dark"
                              id="products-in-stock">
                            @Html.DisplayFor(model => Model.InventoryCount)
                        </span>
                        <span id="products-total-cost">
                            @Html.DisplayFor(model => Model.InventoryWorth)
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Customer Dues</th>
                    <td class="text-right">
                        <span class="badge badge-dark"
                              id="customers-with-due">
                            @Html.DisplayFor(model => Model.DueCount)
                        </span>
                        <span id="due-amount">
                            @Html.DisplayFor(model => Model.TotalDue)
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
