@model ReceivableWithSpan

<div class="card widget-tall mb-3">
    <div class="card-header">
        Receivable
    </div>
    <div class="card-body">
        <canvas id="@Model.Span-receivable-chart" class="pie-chart"></canvas>
        <p class="card-title lead text-right chart-info-big"
           id="@Model.Span-receivable-total">
            @((Model.Receivable.SalesDueAmount
                + Model.Receivable.SupplierOverPaymentAmount
                + Model.Receivable.SalaryOverPaymentAmount
                    ).ToCurrency())
        </p>
        <table class="table table-sm table-hover table-borderless table-striped mb-0">
            <tbody>
                <tr>
                    <th>Sales Due</th>
                    <td class="text-right">
                        <span class="badge badge-dark"
                              id="@Model.Span-sales-due-count">
                            @Html.DisplayFor(model => Model.Receivable.SalesDueCount)
                        </span>
                        <span id="@Model.Span-sales-due-amount">
                            @Html.DisplayFor(model => Model.Receivable.SalesDueAmount)
                        </span>
                    </td>
                </tr>
                <tr>
                    <th> Supplier Advance</th>
                    <td class="text-right">
                        <span class="badge badge-dark"
                              id="@Model.Span-supplier-over-payment-count">
                            @Html.DisplayFor(model => Model.Receivable.SupplierOverPaymentCount)
                        </span>
                        <span id="@Model.Span-supplier-over-payment-amount">
                            @Html.DisplayFor(model => Model.Receivable.SupplierOverPaymentAmount)
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Salary Advance</th>
                    <td class="text-right">
                        <span class="badge badge-dark"
                              id="@Model.Span-salary-over-payment-count">
                            @Html.DisplayFor(model => Model.Receivable.SalaryOverPaymentCount)
                        </span>
                        <span id="@Model.Span-salary-over-payment-amount">
                            @Html.DisplayFor(model => Model.Receivable.SalaryOverPaymentAmount)
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>