@model Khata.DTOs.ProductDto

<div class="card" style="width:40rem">
    <div class="card-header">
        <div class="row">
            <div class="col-6">Product# @Model.Id</div>
            <div class="col-6 text-right">
                @if (Model.IsRemoved)
                {
                    <span class="badge badge-danger">Removed</span>
                }
            </div>
        </div>
    </div>
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <p class="card-subtitle"><u>Unit</u>: <strong>@Model.Unit</strong></p>
        <p class="card-text"><u>Description</u>: @Model.Description</p>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-subtitle">
                    Inventory
                </h5>
                <hr />
                <table class="table table-sm table-borderless table-hover">
                    <tr>
                        <td>Stock</td>
                        <td>@Model.Stock</td>
                    </tr>
                    <tr>
                        <td>Warehouse</td>
                        <td>@Model.Warehouse</td>
                    </tr>
                    <tr>
                        <td>Low Stock At</td>
                        <td>@Model.AlertAt</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h5 class="card-subtitle">
                    Pricing
                </h5>
                <hr />

                <table class="table table-sm table-borderless table-hover">
                    <tr>
                        <td>Retail Price</td>
                        <td>@Model.PriceRetail</td>
                    </tr>
                    <tr>
                        <td>Whole Sale Price</td>
                        <td>@Model.PriceBulk</td>
                    </tr>
                    <tr>
                        <td>Marginal Price</td>
                        <td>@Model.PriceMargin</td>
                    </tr>
                    <tr>
                        <td>Purchase Price</td>
                        <td>@Model.PricePurchase</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                @if (!Model.IsRemoved)
                {
                    <a asp-page="./Edit"
                       asp-route-id="@Model.Id"
                       class="card-link btn btn-link btn-secondary">Edit</a>

                    <a href="#"
                       class="card-link text-danger btn btn-link btn-danger js-remove-item"
                       data-href="@Url.Action("Remove", "Products", new { id = Model.Id })"
                       data-returnUrl="@Url.Page("./Index")">
                        Remove
                    </a>
                }
            </div>
            <div class="col-md-6 text-right">
                <a asp-page="./Index"
                   class="card-link btn btn-primary">
                    Back to List
                </a>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <small class="text-muted">
            Last updated at @Model.Modified.ToString("d") by @Model.Modifier
        </small>
    </div>
</div>