@page

@using SharedLibrary

@model WebUI.Pages.Cash.IndexModel

@{
    ViewData["Title"] = "Cash";
    var sym = System.Globalization.CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol;
}


<div class="row">
    <div class="col-lg-8 card mb-4">
        <div class="card-body">
            <div class="row text-right">
                <div class="col">
                    <h6 class="display-4">Balance</h6>
                    <h1 class="display-2">
                        <sup><small>@sym</small></sup>
                        @Model.Cash.Balance
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <partial name="_DepositFormPartial" for="NewDeposit" />
                </div>
                <div class="col-md-6">
                    <partial name="_WithdrawalFormPartial" for="NewWithdrawal" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 pt-3">
                    <form method="post"
                          asp-page-handler="WithDateRange"
                          class="form-inline">
                        <input type="text"
                               asp-for="FromText"
                               class="form-control datepicker mb-2 mr-sm-2"
                               id="from"
                               placeholder="From" autocomplete="off">
                        <input type="text"
                               asp-for="ToText"
                               class="form-control datepicker mb-2 mr-sm-2"
                               id="to"
                               placeholder="To" autocomplete="off">
                        <button type="submit" class="btn btn-outline-primary mb-2">Go</button>
                    </form>
                </div>
                <div class="col-md-6 pt-3">
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr class="bg-success text-white">
                                <th colspan="3">
                                    DEPOSITS
                                </th>
                                <td class="text-right">
                                    <span class="badge badge-success">@(Model.Deposits.Count())</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Id</th>
                                <th>Type</th>
                                <th class="text-right">Amount</th>
                                <th class="text-right">Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in Model.Deposits)
                            {
                                string content;
                                {
                                    content = "<table class=\"table table-sm\">"
                                    + "<tbody>" + (d.RowId is null ? "" : ("<tr>" + "<td><strong>Id</strong></td><td> " + @d.Id + "</td></tr>"))
                                    + "<tr><td><strong>Amount</strong></td><td> " + d.Amount + "</td></tr>"
                                    + "<tr><td><strong>Description</strong></td><td> " + d.Description + "</td></tr>"
                                    + "</tbody><strong></table>";
                                }
                                <tr class="js-clickable-row"
                                    data-href="@("../" + d.TableName + "s/Details?id=" + (d.RowId ?? d.Id))"
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-html="true"
                                    data-placement="top"
                                    title="@d.TableName.FromPascalCase()"
                                    data-content="@content">

                                    <td>@d.RowId</td>
                                    <td>@d.TableName.FromPascalCase()</td>
                                    <td class="text-right">@d.Amount</td>
                                    <td class="text-right">@d.Metadata.ModifiedAt</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 pt-3">
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr class="bg-danger text-white">
                                <th colspan="3">
                                    WITHDRAWALS
                                </th>
                                <td class="text-right">
                                    <span class="badge badge-danger">@(Model.Withdrawals.Count())</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Id</th>
                                <th>Type</th>
                                <th class="text-right">Amount</th>
                                <th class="text-right">Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in Model.Withdrawals)
                            {
                                var content = "<table class=\"table table-sm\">"
                                + "<tbody>" + (d.RowId is null ? "" : ("<tr>" + "<td><strong>Id</strong></td><td> " + @d.Id + "</td></tr>"))
                                + "<tr><td><strong>Amount</strong></td><td> " + d.Amount + "</td></tr>"
                                + "<tr><td><strong>Description</strong></td><td> " + d.Description + "</td></tr>"
                                + "</tbody></table>";

                                <tr class="js-clickable-row"
                                    data-href="@("../" + d.TableName + "s/Details?id=" + (d.RowId ?? d.Id))"
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-html="true"
                                    data-placement="top"
                                    title="@d.TableName.FromPascalCase()"
                                    data-content="@content">
                                    <td>@d.RowId</td>
                                    <td>@d.TableName.FromPascalCase()</td>
                                    <td class="text-right">@d.Amount</td>
                                    <td class="text-right">@d.Metadata.ModifiedAt</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $("#from").val('');
        $("#to").val('');
    });
</script>
}