@model IEnumerable<Khata.DTOs.SaleDto>

<table class="table table-sm table-borderless table-responsive-sm table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Customer.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Outlet.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.PaymentTotal)</th>
            <th class="text-right">Items</th>
            <th class="text-right">Created at</th>
            <th class="text-right">Created by</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="js-clickable-row" data-href="@Url.Page("./SavedDetails", new { id = item.Id })">
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Customer.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Outlet.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td class="text-right">@Html.ValueFor(modelItem => item.Cart.Count)</td>
                <td class="text-right">@Html.ValueFor(modelItem => item.Metadata.CreatedAt)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => item.Metadata.Creator)</td>
            </tr>
        }
    </tbody>
</table>