@model Khata.DTOs.PurchaseDto

<div class="card" style="width:40rem">
    <div class="card-header">
        <div class="row">
            <div class="col-6">Purchase# @Model.Id</div>
            <div class="col-6 text-right">
                @if (Model.IsRemoved)
                {
                    <span class="badge badge-danger">Removed</span>
                }
            </div>
        </div>

    </div>
    <div class="card-body">
        <a class="h3 card-title"
           asp-page="/Suppliers/Details"
           asp-route-id="@Model.SupplierId">@Model.Supplier.FullName</a>
        <table class="table table-sm table-hover mt-4">
            <tbody>
                <tr>
                    <th>Company</th>
                    <td>@Model.Supplier.CompanyName</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>@Model.Supplier.Address</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>@Model.Supplier.Phone</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Supplier.Email</td>
                </tr>
            </tbody>
        </table>

        <hr />
        <h4 class="card-title">Payment Information</h4>
        <table class="table table-sm table-borderless table-hover">
            <tbody>
                <tr>
                    <td>Cart Total</td>
                    <td class="text-right">@Model.PaymentSubTotal</td>
                </tr>

                @{ var recordClass = ""; }
                @if (Model.Supplier.Payable > 0)
                {
                    recordClass = "warning";
                }
                <tr class="table-@recordClass">

                    <td>Previous Due</td>
                    <td class="text-right">@Model.Supplier.Payable</td>
                </tr>
                <tr class="table-info">
                    <th>Payable</th>
                    <td class="text-right">@(Model.PaymentSubTotal + Model.Supplier.Payable)</td>
                </tr>

                <tr>
                    <th>Paid</th>
                    <td class="text-right">@(Model.PaymentPaid)</td>
                </tr>

                <tr class="table-@( Model.PaymentDue + Model.Supplier.Payable> 0
                                        ? "danger"
                                        : "")
                    ">
                    <td>Due</td>
                    <td class="text-right">@(Model.PaymentDue + Model.Supplier.Payable)</td>
                </tr>
            </tbody>
        </table>

        <hr />
        <h4 class="card-title">Cart</h4>
        <table class="table table-sm table-borderless table-hover">
            <thead>
                <tr>
                    <th>Item</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Unit Price</th>
                    <th class="text-right">Net Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cart)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td class="text-right">@item.Quantity</td>
                        <td class="text-right">@item.UnitPurchasePrice</td>
                        <td class="text-right">@item.NetPurchasePrice</td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />
        <table class="table table-sm table-borderless table-hover">
            <tr>
                <th>Description</th>
                <td>@Model.Description</td>
            </tr>
        </table>
        <div class="row">

            <div class="col-md-6">
                @if (!Model.IsRemoved)
                {
                    @*<a asp-page="./Edit"
                        asp-route-id="@Model.Id"
                        class="card-link btn btn-link btn-secondary text-white">Edit</a>*@

                    <a asp-page="../Vouchars/Details"
                       asp-route-id="@Model.VoucharId"
                       target="_blank"
                       class="card-link btn btn-outline-success">Invoice</a>

                    <a href="#"
                       class="card-link btn btn-link btn-danger text-white js-remove-item"
                       data-href="@Url.Action("Remove", "Purchases", new {id = Model.Id})"
                       data-returnUrl="@Url.Page("./Index")">
                        Remove
                    </a>
                }
            </div>
            <div class="col-md-6 text-right">
                <a asp-page="./Index"
                   class="card-link btn btn-primary">
                    Back to List
                </a>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <partial name="_UpdateSummary" for="Metadata" />
    </div>
</div>