@model IEnumerable<DTOs.DebtPaymentDto>


<table class="table table-sm table-borderless table-responsive-sm table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.CustomerFullName)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.Amount)</th>
            <th class="text-right">Created at</th>
            <th class="text-right">Created by</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var debtPayment in Model)
        {
            <tr class="js-clickable-row"
                data-href="@Url.Page("./Details", new { id = debtPayment.Id })">
                <td>@Html.DisplayFor(modelItem => debtPayment.Id)</td>
                <td>@Html.DisplayFor(modelItem => debtPayment.CustomerFullName)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => debtPayment.Amount)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => debtPayment.Metadata.CreatedAt)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => debtPayment.Metadata.Creator)</td>
                <td class="text-right">
                    <a asp-page="../Invoices/Details"
                       asp-route-id="@Html.ValueFor(modelItem => debtPayment.InvoiceId)"
                       class="card-link btn btn-sm btn-inline btn-success">Invoice</a>
                </td>
            </tr>
        }
    </tbody>
</table>
