@model DTOs.DebtPaymentDto

@{
    var removeApi = Url.Action(
        "Remove", 
        "DebtPayments", 
        new {id = Model.Id});

    var removeReturnUrl = Url.Page(
        "/DebtPayments/Index", 
        new
        {
            area = "Incoming" 

        });
}

<div class="card info-card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8">Debt Payment# @Model.Id</div>
            <div class="col-sm-4 text-sm-right">
                @if (Model.IsRemoved)
                {
                    <span class="badge badge-danger">Removed</span>
                }
            </div>
        </div>

    </div>
    <div class="card-body">
        <a class="h3 card-title"
           asp-area="People" 
           asp-page="/Customers/Details"
           asp-route-id="@Model.CustomerId">@Model.CustomerFullName</a>
        <table class="table table-sm table-hover mt-4">
            <tr>
                <th>
                    Debt Before
                </th>
                <td class="text-right">
                    @Html.DisplayFor(model => model.DebtBefore)
                </td>
            </tr>
            <tr>
                <th>
                    Amount
                </th>
                <td class="text-right">
                    @Html.DisplayFor(model => model.Amount)
                </td>
            </tr>
            <tr>
            <tr>
                <th>
                    Debt After
                </th>
                <td class="text-right">
                    @Html.DisplayFor(model => model.DebtAfter)
                </td>
            </tr>
            <tr>
                <th>
                    Description
                </th>
                <td class="text-right">
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>

        </table>

        <hr />
        <div class="row">

            <div class="col-sm-8">
                <a asp-area="Incoming"
                   asp-page="/Invoices/Details"
                   asp-route-id="@Model.InvoiceId"
                   target="_blank"
                   class="card-link btn btn-outline-success">
                    Invoice
                </a>

                @if (!Model.IsRemoved)
                {
                    <a href="#"
                       class="card-link btn btn-danger ml-1 js-remove-item"
                       data-href="@removeApi"
                       data-returnUrl="@removeReturnUrl">
                        Remove
                    </a>
                }
            </div>
            <div class="col-sm-4 text-sm-right mt-2 mt-sm-0">
                <a asp-area="Incoming"
                   asp-page="/DebtPayments/Index"
                   class="card-link btn btn-primary">
                    Back to List
                </a>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <partial name="_UpdateSummary" for="Metadata" />
    </div>
</div>