@model DTOs.DebtPaymentDto

<div class="card" style="width:40rem">
    <div class="card-header">
        <div class="row">
            <div class="col-6">Debt Payment# @Model.Id</div>
            <div class="col-6 text-right">
                @if (Model.IsRemoved)
                {
                    <span class="badge badge-danger">Removed</span>
                }
            </div>
        </div>

    </div>
    <div class="card-body">
        <a class="h3 card-title"
           asp-area="People" 
           asp-page="/Customers/Details"
           asp-route-id="@Model.CustomerId">@Model.CustomerFullName</a>
        <table class="table table-sm table-hover mt-4">
            <tr>
                <th>Debt Before</th>
                <td>@Html.DisplayFor(model => model.DebtBefore)</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>@Html.DisplayFor(model => model.Amount)</td>
            </tr>
            <tr>
            <tr>
                <th>Debt After</th>
                <td>@Html.DisplayFor(model => model.DebtAfter)</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>

        </table>

        <hr />
        <div class="row">

            <div class="col-md-6">
                @if (!Model.IsRemoved)
                {
                    @*<a asp-page="./Edit"
                        asp-route-id="@Model.Id"
                        class="card-link btn btn-link btn-secondary">Edit</a>*@

                    <a asp-area="Incoming" 
                       asp-page="/Invoices/Details"
                       asp-route-id="@Model.InvoiceId"
                       target="_blank"
                       class="card-link btn btn-outline-success">Invoice</a>

                    <a href="#"
                       class="card-link text-white btn btn-link btn-danger js-remove-item"
                       data-href="@Url.Action("Remove", "DebtPayments", new {id = Model.Id})"
                       data-returnUrl="@Url.Page("/DebtPayments/Index", new{ area = "Incoming" })">
                        Remove
                    </a>
                }
            </div>
            <div class="col-md-6 text-right">
                <a asp-area="Incoming"
                   asp-page="/DebtPayments/Index"
                   class="card-link btn btn-primary">
                    Back to List
                </a>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <partial name="_UpdateSummary" for="Metadata" />
    </div>
</div>