@using DTOs
@model IEnumerable<SaleDto>

<table class="table table-sm table-borderless table-responsive-md table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer.FullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Outlet.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>

            <th class="text-right">
                @Html.DisplayNameFor(model => model.PaymentTotal)
            </th>

            <th class="text-right">
                @Html.DisplayNameFor(model => model.PaymentDue)
            </th>

            @if (Context.User.IsInRole("Admin"))
            {
                <th class="text-right">@Html.DisplayNameFor(model => model.Profit)</th>
            }

            <th class="text-right">
                Items
            </th>

            <th class="text-right">
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>

            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var url = Url.Page("/Sales/Details", new { area = "Incoming", id = item.Id });
            <tr class="js-clickable-row" data-href="@url">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>

                <td>
                    @item.Outlet.Title
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>

                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.PaymentTotal)
                </td>

                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.PaymentDue)
                </td>

                @if (Context.User.IsInRole("Admin"))
                {
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Profit)
                    </td>
                }

                <td class="text-right">
                    @Html.ValueFor(modelItem => item.Cart.Count)
                </td>

                <td class="text-right">
                    @Html.ValueFor(modelItem => item.SaleDate)
                </td>

                <td class="text-right">
                    <a asp-area="Incoming"
                       asp-page="/Invoices/Details"
                       asp-route-id="@Html.ValueFor(modelItem => item.InvoiceId)"
                       target="_blank"
                       class="card-link btn btn-sm btn-success blank-link-button d-inline">
                        Invoice
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>