@using Microsoft.AspNetCore.Identity
@model DTOs.SaleDto
@inject UserManager<ApplicationUser> userManager

<div class="card info-card mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <span data-toggle="tooltip"
                      title="Sale ID">
                    Sale# @Model.Id
                </span>
            </div>
            <div class="col-sm-6 text-left text-sm-right">
                <strong data-toggle="tooltip" title="Outlet Name">
                    @Model.Outlet.Title
                </strong>

                @if (Model.IsRemoved)
                {
                    <span class="badge badge-danger">
                        Removed
                    </span>
                }
            </div>
        </div>

        <div class="row">
            <div class="col text-sm-right text-muted">
                <span data-toggle="tooltip"
                      title="Sale Date">
                    @Model.SaleDate.LocalDate()
                </span>
            </div>
        </div>
    </div>
</div>

<div class="accordion"
     id="reporting-accordion">

    <div class="card info-card">
        <div class="card-header"
             id="sales-heading">
            <div class="row">
                <h2 class="mb-0 col-sm-6">
                    <button class="btn btn-link"
                            type="button"
                            data-toggle="collapse"
                            data-target="#sales-collapse"
                            aria-expanded="true"
                            aria-controls="sales-collapse">
                        <span data-toggle="tooltip"
                              title="Customer Information">
                            <i class="fa fa-plus"></i>
                            @Model.Customer.FullName
                        </span>
                    </button>
                </h2>
                <div class="col-sm-6 text-sm-right">
                    <a class="btn btn-link pl-2 pl-sm-0 pr-0"
                       asp-area="People"
                       asp-page="/Customers/Details"
                       asp-route-id="@Model.CustomerId"
                       data-toggle="tooltip"
                       title="View Customer Profile">
                        <i class="fas fa-address-card"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="sales-collapse"
             class="collapse"
             aria-labelledby="sales-heading"
             data-parent="#reporting-accordion">
            <div class="card-body">
                <table class="table table-sm table-hover mb-0">
                    <tbody>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.CompanyName)
                            </th>
                            <td class="text-right">
                                @Html.DisplayFor(model => model.Customer.CompanyName)
                            </td>
                        </tr>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Address)
                            </th>
                            <td class="text-right">
                                @Html.DisplayFor(model => model.Customer.Address)
                            </td>
                        </tr>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Phone)
                            </th>
                            <td class="text-right">
                                @Html.DisplayFor(model => model.Customer.Phone)
                            </td>
                        </tr>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Email)
                            </th>
                            <td class="text-right">
                                @Html.DisplayFor(model => model.Customer.Email)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card info-card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo">
                    <i class="fa fa-plus"></i>
                    Payment Information
                </button>
            </h2>
        </div>
        <div id="collapseTwo"
             class="collapse show"
             aria-labelledby="headingTwo"
             data-parent="#reporting-accordion">
            <div class="card-body">
                <table class="table table-sm table-hover mb-0">
                    <tbody>
                        <tr>
                            <td>
                                Cart Total
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(model => model.PaymentSubTotal)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Discount
                            </td>
                            <td class="text-right">
                                (@Model.PaymentDiscountPercentage.ToString("0.##")%)
                                @Html.DisplayFor(model => model.PaymentDiscountCash)
                            </td>
                        </tr>

                        @{ var recordClass = ""; }
                        @if (Model.Customer.Debt > 0)
                        {
                            recordClass = "warning";
                        }

                        <tr class="table-@recordClass">
                            <td>
                                Previous Due
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(model => model.Customer.Debt)
                            </td>
                        </tr>
                        <tr class="table-info">
                            <th>
                                Payable
                            </th>
                            <td class="text-right">
                                @((Model.PaymentTotal + Model.Customer.Debt).ToCurrency())
                            </td>
                        </tr>

                        <tr>
                            <th>
                                Paid
                            </th>
                            <td class="text-right">
                                @Html.DisplayFor(model => model.PaymentPaid)
                            </td>
                        </tr>

                        <tr class="table-@(Model.PaymentDue + Model.Customer.Debt > 0
                                       ? "danger"
                                       : "")
                    ">
                            <td>
                                Due
                            </td>
                            <td class="text-right">
                                @((Model.PaymentDue + Model.Customer.Debt).ToCurrency())
                            </td>
                        </tr>

                        @if (Context.User.IsInRole("Admin"))
                        {
                            <tr class="table-@(Model.Profit < 0
                                           ? "danger"
                                           : Model.Profit > Model.PaymentDue
                                               ? "success"
                                               : "primary")">
                                <td>
                                    Profit
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(model => model.Profit)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card info-card">
        <div class="card-header"
             id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree">
                    <i class="fa fa-plus"></i>
                    Cart
                </button>
            </h2>
        </div>
        <div id="collapseThree"
             class="collapse show"
             aria-labelledby="headingThree"
             data-parent="#reporting-accordion">
            <div class="card-body">
                <table class="table table-sm table-hover table-responsive-sm mb-0">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th class="text-right">
                                Quantity
                            </th>
                            <th class="text-right">
                                Unit Price
                            </th>
                            <th class="text-right">
                                Net Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cart)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Name)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(model => item.Quantity)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(model => item.UnitPrice)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(model => item.NetPrice)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card info-card mt-1">
    <div class="card-body">
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <table class="table table-sm table-borderless table-hover">
                <tr>
                    <th>
                        Description
                    </th>
                    <td>
                        @Model.Description
                    </td>
                </tr>
            </table>
        }
        <div class="row">
            <div class="col-sm-8">
                <a asp-area="Incoming"
                   asp-page="/Invoices/Details"
                   asp-route-id="@Model.InvoiceId"
                   target="_blank"
                   class="card-link btn btn-outline-success">
                    Invoice
                </a>

                @if (!Model.IsRemoved)
                {
                    <a href="#"
                       class="card-link btn btn-danger ml-1 js-remove-item"
                       data-href="@Url.Action(
                                      "Remove",
                                      "Sales",
                                      new {id = Model.Id})"
                       data-returnUrl="@Url.Page("./Index")">
                        Remove
                    </a>
                }
            </div>
            <div class="col-sm-4 mt-2 mt-sm-0 text-sm-right">
                <a asp-area="Incoming"
                   asp-page="/Sales/Index"
                   class="card-link btn btn-primary">
                    Back to List
                </a>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <partial name="_UpdateSummary"
                 for="Metadata" />
    </div>
</div>