@using ViewModels
@model SaleViewModel
@{
    var sym = System.Globalization.CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol;
    var lineItemsApi = Url.Action("GetLineItems", "Sales");
}

<div class="form-group" hidden>
    <label class="col-form-label"></label>
    <input class="form-control form-control-sm"
           id="lineitem-id"
           type="number" />
</div>

<div class="form-group" hidden>
    <label class="col-form-label"></label>
    <input class="form-control form-control-sm"
           type="number"
           id="lineitem-type" />
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <label class="col-form-label"
                   for="lineitem-selector">
                Item
            </label>
            <input id="lineitem-selector"
                   class="form-control form-control-sm"
                   type="text"
                   data-path="@lineItemsApi"
                   placeholder="Product/Service Name/ID" />
            <small class="text-muted">
                Available:
                <span id="lineitem-available"
                      class="text-info">
                </span>
            </small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label"
                   for="lineitem-quantity">
                Qty.
            </label>
            <input id="lineitem-quantity"
                   class="form-control form-control-sm"
                   type="number" min="0" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label"
                   for="lineitem-unitprice">
                Unit Price
            </label>
            <div class="input-group  input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">@sym</span>
                </div>
                <input id="lineitem-unitprice"
                       class="form-control form-control-sm"
                       type="number" min="0" />
            </div>
            <span validation-for="lineitem-unitprice"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label"
                   for="lineitem-netprice">
                Net Price
            </label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @sym
                    </span>
                </div>
                <input id="lineitem-netprice"
                       class="form-control form-control-sm"
                       type="number" min="0" />
            </div>
        </div>
    </div>
</div>

<div class="form-group pb-3">
    <button role="button"
            class="btn btn-sm btn-outline-primary card-link mr-0"
            id="lineitem-add-button">
        Add Item
    </button>
    <button role="button"
            class="btn btn-sm btn-outline-secondary card-link ml-0"
            id="lineitem-clear-button">
        Clear Item
    </button>
</div>

<input type="number"
       value="@Html.ValueFor(model => model.Cart.Count)"
       id="items-added"
       name="items-added"
       disabled hidden />

<div id="cart" class="">
    @for (var i = 0; i < Model?.Cart?.Count; i++)
    {
        var cartItem = Model.Cart[i];

        <div class="row">
            <div class="col-12">
                <div class="col" hidden>
                    <input type="number"
                           name="Cart.Index"
                           value="@i" />
                    <input type="number"
                           name="Cart[@i].ItemId"
                           class="cart-item-itemid"
                           value="@cartItem.ItemId" />
                    <input type="number"
                           name="Cart[@i].Type"
                           class="cart-item-type"
                           value="@cartItem.Type" />
                </div>

                <div class="input-group input-group-sm mb-0">
                    <input type="text"
                           name="Cart[@i].Name"
                           class="form-control cart-item-name cart-item"
                           data-toggle="tooltip" title="Name"
                           value="@cartItem.Name"
                           aria-label="Name" readonly />

                    <div class="input-group-append">
                        <button class="btn btn-outline-danger cart-item-removeitem"
                                id="remove-item-button-@i"
                                type="button">
                            Remove
                        </button>
                    </div>
                </div>
                <div class="input-group input-group-sm mt-0 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Net Price :</span>
                    </div>

                    <input type="number" readonly
                           class="text-right cart-item-unirprice cart-item form-control"
                           data-toggle="tooltip" title="Unit Price"
                           value="@(cartItem.NetPrice / cartItem.Quantity)" />

                    <div class="input-group-prepend">
                        <span class="input-group-text">X</span>
                    </div>

                    <input type="number" readonly
                           name="Cart[@i].Quantity"
                           class="text-right cart-item-quantity cart-item form-control"
                           data-toggle="tooltip" title="Quantity"
                           value="@cartItem.Quantity" />

                    <div class="input-group-prepend">
                        <span class="input-group-text">=</span>
                    </div>

                    <input type="number" readonly
                           name="Cart[@i].NetPrice"
                           class="text-right cart-item-netprice cart-item form-control"
                           data-toggle="tooltip" title="Net Price"
                           value="@cartItem.NetPrice" />
                </div>

            </div>
        </div>
    }
</div>
<hr/>